<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Hao123</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/assets/js/vue.global.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <script src="/global.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="shortcut icon" href="/assets/images/logo.svg" type="image/x-icon">
    <style type="text/css">
        body {
            padding: 10px 6%;
        }
        h3 {
            font-size: 17px;
        }
        a {
            font-size: 15px;
        }
    </style>
</head>

<body>
    <div id="app"></div>
</body>
<template id="template">
    <template v-for="(item, i) in groupLinkList">
        <h3>{{item.tag}}</h3>
        <template v-for="(link, i) in item.links">
            <a :href="link.href" target="_blank" class="btn btn-link">{{link.title}}</a>
        </template>
    </template>
</template>
<script defer>
    document.addEventListener("DOMContentLoaded", async () => {
        setTimeout(() => {
            mountVueObject(window.VueObject, '#app')
        }, 10)
    }, false);
    window.VueObject = {
        data() {
            return {
                groupLinkList: [],
            }
        },
        template: '#template',
        async mounted() {
            this.initGetJSON()
        },
        methods: {
            async initGetJSON() {
                const container = document.getElementById("bookmark")
                let links = parseMarkdownBlock(container.innerText)
                let groupLink = {}
                for (let i in links) {
                    if (groupLink[links[i].tag] == undefined) {
                        groupLink[links[i].tag] = []
                    }
                    groupLink[links[i].tag].push(links[i])
                }
                let tags = Object.keys(groupLink)
                let groupLinkList = []
                for (let i in tags) {
                    groupLinkList.push({
                        tag: tags[i],
                        links: groupLink[tags[i]]
                    })
                }
                this.groupLinkList = groupLinkList
            },
        }
    }

</script>

<script type="text" id="bookmark">
# 热点站点

- [JSON编辑](/json.html)
- [二维码生成](/qrcode.html)
- [运行JS代码](/jsrun.html)
- [Github](https://github.com/)
- [HelloGithub月技术周刊](https://hellogithub.com/periodical)
- [阮一峰博客](https://www.ruanyifeng.com/)
- [免费图床ossking](https://www.ossking.com/)
- [icebeer](https://www.icebeer.top/)
- [记录生命](https://lhblog.pages.dev/)


# 工具&AI

- [让工具回归工具](https://www.30aitool.com/)
- [流光卡片](https://fireflycard.shushiai.com/)
- [PDF文件转换](https://www.aconvert.com/cn/)
- [图片压缩](https://caesium.app/)
- [代码转图片](https://carbon.now.sh/)
- [开发者工具，各种转换工具](https://www.btool.cn/)
- [GPT-free2gpt](https://chat9.free2gpt.xyz/)
- [chatgot](https://start.chatgot.io/)
- [JSON转Markdown](https://tableconvert.com/zh-cn/json-to-markdown)
- [一些不好用键盘打出来的字符](https://copychar.cc/)
- [各种链接linkHunts](https://ln.ht/)
- [免费图床ossking](https://www.ossking.com/)
- [邮件内容制作](https://designer.sendune.com/)
- [程序员好用的画图工具](https://honzaap.github.io/Systemizer/)
- [YT视频下载](https://youtube.iiilab.com/)
- [rawweb探索独立站点](https://rawweb.org/)
- [美化截图](https://xnapper.com/app)
# golang / JSON

- [curl请求转成golang代码](https://mholt.github.io/curl-to-go/)
- [SQL转Go的结构体](https://www.devtool.com/sql2go.html)
- [JSON转Go的结构体](https://mholt.github.io/json-to-go/)
- [在线运行Golang代码](https://go.dev/play/)
- [shockerli/go-awesome](https://github.com/shockerli/go-awesome)
- [yinggaozhen/awesome-go-cn](https://github.com/yinggaozhen/awesome-go-cn)
- [awesome-go.com](https://awesome-go.com/)
- [JSON对比工具](https://jsondiff.org/)
- [JSON互转Excel](http://www.esjson.com/jsontoexcel.html)
- [wails客户端Golang](https://wails.io/)

# 个人网站

- [No Headback](https://xargin.com)
- [阮一峰博客](https://www.ruanyifeng.com/)
- [TW93,有趣](https://tw93.fun/)
- [一个设计者的个人站点](https://paulstamatiou.com/)
- [missuo](https://missuo.me/)
- [技术博客 - 极客兔兔](https://geektutu.com/)
- [信息差—独立开发者出海周刊](https://gapis.money/)
- [icebeer](https://www.icebeer.top/)
- [技术极简主义：一切皆用Postgres](https://www.modb.pro/db/1759393455994392576)


# Up主 / 电影

- [小Lin说](https://space.bilibili.com/520819684)
- [影视飓风](https://space.bilibili.com/946974)
- [小白数码测评](https://space.bilibili.com/8969156)
- [KPL比赛直播](https://live.bilibili.com/55)
- [一个免费的纪录片网站](https://ihavenotv.com/)
- [高质量Music下载](https://tools.liumingye.cn/music/#/)
- [动漫-凡人修仙传](https://www.czys.pro/movie/11030.html)
- [喜剧之王单口技](https://www.iyf.tv/play/1vqimPZKLI0?id=Jh2fJgAK8UF)

# 社区
- [豆瓣啊](https://douban.com/)
- [数字尾巴](https://www.dgtle.com/)
- [少数派](https://sspai.com/)
- [v2ex](https://v2ex.com/)
- [过早客](https://www.guozaoke.com/)
- [迪卡](https://dizkaz.com/)
- [值得一读的技术博客](https://daily-blog.chlinlearn.top/blogs/1)
- [vocabulary词汇](https://www.vocabulary.com/lists/)
- [明日故乡](https://guxiang.app/filter-home/)


# 文章.未分类


# DayDayUp
- [2024-09-10:basic-cqrs-in-go](https://threedots.tech/post/basic-cqrs-in-go/)
- [2024-09-11:web-based-ssh](https://linuxiac.com/how-to-set-up-web-based-ssh/)
- [2024-09-12:Sidewalk+Garden](https://zachklein.com/Sidewalk+Garden)
- [2024-09-13:I’ve never had a goal](https://signalvnoise.com/svn3/ive-never-had-a-goal/)
- [2024-09-14:web-language-header](https://serpapi.com/blog/who-uses-accept-language-header/)
- [2024-09-23:sentinel-toothpaste](https://dunkels.com/adam/sentinel-toothpaste/)
- [2024-09-24:why-don-t-more-people-use-linux](https://world.hey.com/dhh/why-don-t-more-people-use-linux-33b75f53)
- [2024-09-25:stripe-hire-people](https://review.firstround.com/how-stripe-built-one-of-silicon-valleys-best-engineering-teams/)
- [2024-09-26:understanding-abortcontroller](https://betterstack.com/community/guides/scaling-nodejs/understanding-abortcontroller/)
- [2024-09-27:linux](https://linuxiac.com/what-is-enterprise-linux/)
</script>
</html>
